*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D6E1F3;
    width: 100vw;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #0F203E;
}

.applicationTable{
    border: 3px solid #0F203E;
    background-color: white;
    font-family: "Inter", sans-serif;
    border-collapse: collapse;
}

.applicationTable th{
    padding: 5px;
    border: 2px solid #0F203E;
    width: 100px;
}

.applicationTable td{
    padding: 5px;
    border: 2px solid #0F203E;
    width: 100px;
    font-size: 15px;
}

.applicationTable thead{
    font-weight: bold;
    font-size: 20px;
}

.applicationTable tbody{
    font-size: 15px;
}

.applicationPopUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid #0F203E;
    width: 1400px;
    height: auto;
    padding: 10px;
    gap: 1.5rem;
    border-radius: 15px;
}

.permissionButton{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.acceptApplication{
    background-color: #79ffb8;
    border: 2px solid #0F203E;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.acceptApplication:hover{
    background-color: #00dd59;
}

.declineApplication{
    background-color: #ff7979;
    border: 2px solid #0F203E;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.declineApplication:hover{
    background-color: #ff3f3f
}

.ApplicationPopUp table{
    width: 825px;
}

.cancelApplication{
    background-color: #a8a8a8;
    border: 2px solid #0F203E;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.cancelApplication:hover{
    background-color: #555555;
}